*{
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}

.header{
    display:flex;
    background-color: #1F2937;
    justify-content: space-between;

    
    padding: 20px 80px;
    color: #F9FAF8;
    font-size: 24px;
    
}

.header-right{
    display:flex;
    gap: 32px;
    font-size: 16px;
    padding-right: 40px;
   
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.main-1{
    background-color: #1F2937;
    color: #E5E7EB;

    display:flex;
    padding: 80px 200px;
    justify-content: center;
    gap: 60px;
    padding-bottom: 152px;

}

.main-left{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 60px;
    
}

.main1-left-text{
    display: flex;
    gap: 36px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight:900;
}

#main-image{
    width: 480px;
    height:240px;

    display:flex;
    flex-shrink: 0;
}

.box-image{
    width: 192px;
    height: 192px;
    border: 4px rgb(69, 121, 242) solid;
    border-radius: 12px;
}


.button1{
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;

    padding: 8px 36px;
    border-radius: 8px;
    border:none;
}


.main-2{
    display:flex;
    margin-top: 64px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
}

.main2-top{
    padding-bottom: 52px;
}

.main2-bottom{
    display:flex;
    justify-content: center;
    
    justify-content: space-around;
    padding: 0 360px;
    gap: 30px;
}


.main-3{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    justify-content: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color:#1F2937;

    padding: 0 72px;
    margin-bottom: 16px;
}

.main-3>p:last-of-type{
    display:flex;
    justify-content: right;
    font-weight:bold;
    margin-right: -60%;

}